body {
  font-family: system-ui, -apple-system, sans-serif;
  margin: 0;
  padding: 2rem;
  background-color: #fafafa;
  color: #222;
}

.button {
  cursor: pointer;
}

.tab-button {
  display: inline-block;
  padding: 0.6rem 1.2rem;
  margin-right: 0.4rem;
  cursor: pointer;
  border: none;
  border-bottom: 2px solid transparent;
  background: none;
  font-weight: 500;
  transition: all 0.2s ease;
  color: #3b3b3b;
}

.tab-button:hover {
  color: #000;
}

.tab-button.active {
  color: #000;
  border-top: 1px solid #000;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  background-color: #fff;
}

.tab-content {
  padding: 1rem;
  border-left: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-radius: 0.2rem;
  background: #fff;
  transition: opacity 0.3s ease;
}

.hidden {
  display: none;
}

.card {
  width: 7.5rem;
  height: 10rem;
  background-color: green;
}

.card-small {
  width: 5rem;
  height: 6.6rem;
  background-color: green;
}

.card-container {
  display: grid;
  gap: 0.5rem;
  column-gap: 0.8rem;
  grid-template-columns: repeat(2, max-content);

  justify-content: center;
}

.kazameta-container {
  display: grid;
  gap: 0.2rem;
  column-gap: 0.4rem;
  grid-template-columns: repeat(3, max-content);
}

.kazameta-wrap {
  display: flex;
  align-items: flex-end;
  margin: 1rem 0;
  gap: 2rem;
}

.active-card {
  filter: drop-shadow(0 0 0.4rem yellow) brightness(1.1) saturate(0.95);
}

.active-buff {
  color: blueviolet;
}

@media (min-width: 600px) {
  .card-container {
    grid-template-columns: repeat(2, max-content);
  }

  .kazameta-container {
    grid-template-columns: repeat(3, max-content);
  }
}

@media (min-width: 900px) {
  .card-container {
    grid-template-columns: repeat(4, max-content);
  }

  .kazameta-container {
    grid-template-columns: repeat(6, max-content);
  }
}

@media (min-width: 1200px) {
  .card-container {
    grid-template-columns: repeat(8, max-content);
  }

  .kazameta-container {
    grid-template-columns: repeat(6, max-content);
  }
}
