{% extends "visszanyil.html" %} {% load static %}
<!---->
{% block title%}DAMAREEN{%endblock %} {% block tobbi_content %}

<h2 class="mentes">Saját pályáid</h2>
<div class="saves-list">
  {% for world in worlds %}
<div
  class="game-container save-box"
  style="cursor: pointer"
  data-world-id="{{ world.id }}"
>
  <div class="save-content">
    <div class="game-id">{{ world.name }}</div>
    <a href="{% url 'worlds_delete' world.id %}">
      <img
        src="{% static 'kepek/kuka.png' %}"
        alt="Törlés"
        class="delete-icon"
      />
    </a>
  </div>
</div>
{% empty %}
<h3 class="mentes">Nincs létrehozva világ.</h3>
{% endfor %}
</div>


<button class="btn newgame-btn" onclick="window.location.href='new/'">
  ÚJ VILÁG LÉTREHOZÁSA
  <img class="minikep" src="{% static 'kepek/ceruza.png' %}" alt="" />
</button>

<script>
  const saveBoxes = document.querySelectorAll(".save-box");
  saveBoxes.forEach((box) => {
    box.addEventListener("click", () => {
      const worldId = box.getAttribute("data-world-id");
      window.location.href = `edit/${worldId}`;
    });
  });
</script>
{% endblock %}
