.card {
  width: 7.5rem;
  height: 10rem;
  background-color: green;
}

.card-background {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.active-card {
  filter: drop-shadow(0 0 0.4rem yellow) brightness(1.1) saturate(0.95);
}

.card-container {
  display: grid;
  gap: 0.5rem;
  column-gap: 0.8rem;
  grid-template-columns: repeat(2, max-content);

  justify-content: center;
}

.disabled-button {
  opacity: 0.5;
  pointer-events: none;
}

@media (min-width: 600px) {
  .card-container {
    grid-template-columns: repeat(2, max-content);
  }
}

@media (min-width: 900px) {
  .card-container {
    grid-template-columns: repeat(4, max-content);
  }
}

@media (min-width: 1200px) {
  .card-container {
    grid-template-columns: repeat(5, max-content);
  }
}
