{% extends "visszanyil.html" %} {% load static %}

  {% block title %}REGISZTRÁCIÓ{% endblock %} {% block tobbi_content %} 
  {% if messages %}
  <div class="messages">
    {% for message in messages %}
    <div><p class="messages">{{ message }}</p></div>
    {% endfor %}
  </div>
  {% endif %}

  <form id="pixelForm" action="{% url 'register' %}" method="post">
    {% csrf_token %}

    <div class="form-group">
      <label for="username">FELHASZNÁLÓNÉV:</label>
      <div class="input-wrapper">
        <input
          name="username"
          type="text"
          id="username"
          class="input-box"
          autocomplete="username"
        />
        <div class="focus-effect"></div>
      </div>
    </div>

    <div class="form-group">
      <label for="password">JELSZÓ:</label>
      <div class="input-wrapper">
        <input
          name="password"
          type="password"
          id="password"
          class="input-box"
          autocomplete="new-password"
        />
        <div class="focus-effect"></div>
      </div>
    </div>

    <div class="form-group">
      <label for="password">JELSZÓ MÉGEGYSZER:</label>
      <div class="input-wrapper">
        <input
          name="password_confirm"
          type="password"
          id="password_confirm"
          class="input-box"
          autocomplete="new-password"
        />
        <div class="focus-effect"></div>
      </div>
    </div>

    <button type="submit" id="submitBtn">REGISZTRÁCIÓ</button>
  </form>
</div>
{% endblock %}
