{% extends "visszanyil.html" %}
{% load static %}
{% block title %}<h2>Korábbi játékaid</h2>{% endblock %}

{% block tobbi_content %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'game/saves.css' %}" />
{% endblock %}

{% block extra_body %}
<script type="module" src="{% static 'game/saves.js' %}"></script>
{% endblock %}

<div class="saves-list">
  {% for save in saves %}
  <a href="#">
    <div class="game-container save-box save-click" data-save-id="{{ save.id }}">
      <div class="save-content">
        <div class="save-info">
          <div class="game-id">ID: {{ save.id }}</div>
          <div class="game-date">{{ save.datum }}</div>
        </div>
        <a href="{% url 'delete' save.id %}" class="delete-link" aria-label="Törlés">
          <img src="{% static 'kepek/kuka.png' %}" alt="Törlés" class="delete-icon" />
        </a>
      </div>
    </div>
  </a>
  {% empty %}
  <p style="text-align: center;">Itt folytathatod majd a megkezdett játékaidat.</p>
  {% endfor %}
</div>

<button class="btn newgame-btn" onclick="window.location.href='new/'">
  ÚJ JÁTÉK
</button>
</div>
{% endblock %}