{% extends "visszanyil.html" %}
{% load static %}

{% block title %}<h2>Világok</h2>{% endblock %}
{% block back_url %}{% url 'main' %}{% endblock %}
{% block tobbi_content %}
<div class="saves-list">
  {% for world in worlds %}

  <a href="{% url 'dif' world.id %}">
    <div class="game-container save-box">
      <div class="pixel-corner pixel-corner-tl"></div>
      <div class="pixel-corner pixel-corner-tr"></div>
      <div class="pixel-corner pixel-corner-bl"></div>
      <div class="pixel-corner pixel-corner-br"></div>

      <div class="save-content">
        <div class="game-id">{{ world.name }}</div>
        <div class="game-creator">Létrehozta: {{ world.creator.username }}</div>
      </div>
    </div>
  </a>

  {% empty %}
  <p style="text-align: center;">A játékmester még nem hozott létre egy világot sem.</p>
  {% endfor %}
</div>
{% endblock %}