{% extends "visszanyil.html" %}
{% load static %}


{% block tobbi_content %} 
  <div class="development-container">
 

{% if difficulty >= 0 %}
    <h2 class="title">Fejlesztés</h2>
    <!-- Első sor: kisebb divek -->
    <div class="dev-slots">
        <div class="dev-slot">1</div>
        <div class="dev-slot">2</div>
        <div class="dev-slot">3</div>
        <div class="dev-slot">4</div>
    </div>
    <!-- Második sor: pontszám és gombok -->
    <div class="dev-controls">
        {% if difficulty == 0 %}
        <div class="dev-points"><h2>Egy kiválasztott karaktered +1 sebzést kap</h2></div>
        {% elif difficulty == 1 %}
        <div class="dev-points"><h2>Egy kiválasztott karaktered +2 HP-t kap</h2></div>
        {% elif difficulty == 2 %}
        <div class="dev-points"><h2>Egy kiválasztott karaktered +3 sebzést kap</h2></div>
        {% endif %}
    </div>
{% else %}
    <span><img id="koponya" src="{% static 'kepek/koponya.png' %}" alt=""></span>
    <div class="dev-points"><h2>Vesztettél, nincsenek fejlesztéseid</h2></div>
{% endif %}
</div>

{% endblock %}
